# Python virtual environment
venv/
venv311/
.env
.venv
env/
venv/
ENV/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Caches and compiled files
__pycache__/
*.pyc
*.pkl

# Generated folders containing output data
# We do not commit these to the repository
results/
logs/

# Large data and model files
data/
models/*.pth

# Test data
tests/*.csv

# macOS and cloud sync system files
.DS_Store
Icon?
.tmp.drivedownload
*.tmp
.DS_Store?
._*
.Spotlight-V100
.Trashes


# Editor specific folders
.vscode/
.idea/

# Data/Models
glove.6B/
*.h5
*.pt
*.model

# Ignore downloaded model and embedding files
models/final_bert_baseline/
models/glove.6B.100d.txt
